:root {
    --zoom: 1;
    --panX: 0px;
    --panY: 0px;
    overflow: hidden;
    cursor: grab;
}
:root.clicking {
    cursor: grabbing;
}
:root > :not(#ui) {
    transform: translate(var(--panX),var(--panY)) scale(var(--zoom));
}
:root.selecting path:not(.selected),
:root.selecting use:not(.selected) {
    opacity: 0.25 !important;
}
#ui {
    outline: calc(1px) solid rebeccapurple;
    height: calc(100vh - 2em);
}
#ui > main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}
#ui > main > textarea {
    resize: none;
    padding: 0;
    border: none;
    background: #ffffff40;
    outline: 1px solid rebeccapurple;
}
path {
    stroke-width: 3px !important;
    stroke: red !important;
}
#areas path {
    stroke: green !important;
}
#obstacles path {
    stroke: orange !important;
}
#stations path {
    stroke: none !important;
    marker: url(#station);
}
#transitions path {
    stroke: rebeccapurple !important;
    marker: url(#transition);
}
